input[type=file]:focus {
    border: 2px solid #4CAF50;
    outline: none;
}

.form-message,
input[type=file] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 41px;
}

.form-message.error {
    height: initial;
    border-color: indianred;
}

.form-message.success {
    height: initial;
    border-color: limegreen;
}


.import-log {
    display:  block;
}
.import-log.none {
    display: none;
}

.import-log.errors-only .row-valid {
    display: none;
}

.combo-wrapper {
    position: relative;
}

#subject-list {
    position: absolute;
    z-index: 99;
    background: white;
    width: calc(100% - 33px);
    margin: 0;
    padding: 15px;
    max-height: 300px;
    overflow-y: auto;
    list-style: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 2px solid #4CAF50;
}

#subject-list li {
    cursor: pointer;
    padding: 4px 20px;
    display: block;
}

#subject-list li:hover {
    color: #4CAF50;
}

